<div class="col">
    <div id="main-content" class="bg-white border p-5">
      <div class="d-flex flex-column justify-content-center">
        <h2 class="mb-3">Bonjour Admin,</h2>
        <div class="mb-3">Connecté en tant que : admin@gmail.com</div>
      </div>
      <div class="d-flex my-4 flex-wrap">
        <div class="box me-2 mb-3 bg-light text-center" routerLink="/products-list-form">
          <img
            src="https://www.freepnglogos.com/uploads/box-png/box-png-clipart-web-icons-png-1.png"
            alt="box"
          />
          <div class="text-center mt-2">
            <div class="tag">Liste des produits</div> 
          </div>
        </div>
        <div class="box me-2 mb-3 bg-light text-center" routerLink="/products-add">
          <img
            src="https://www.freepnglogos.com/uploads/pencil-png/pencil-png-transparent-png-pictures-icons-and-png-2.png"
            alt="pencil"
          />
          <div class="text-center mt-2">
            <div class="tag">Ajouter un produit</div> 
          </div>
        </div>
        <div class="box me-2 mb-3 bg-light text-center" >
          <img
            src="https://www.freepnglogos.com/uploads/x-png/x-png-x-drawing-transparent-background-32.png"
            alt="red cross"
          />
          <div class="text-center mt-2">
            <div class="tag">Supprimer les produits</div> 
          </div>
        </div>
      </div>
    </div>
  </div>