<div class="card my-5 mx-5">
  <div class="row d-flex align-items-center">
    <div class="col-lg-4 d-none d-lg-flex">
      <img
        src="https://images.pexels.com/photos/9005777/pexels-photo-9005777.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
        alt="Kiwi"
        class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5"
      />
    </div>
    <div class="col-lg-8">
      <div class="card-body py-5 px-md-5">
        <h2>Créer un compte</h2>
        <form [formGroup]="signUpForm" (ngSubmit)="onSubmitForm()">
          <!-- Email input -->
          <div class="form-group">
            <label for="email" class="form-label">Email</label>
            <input
              type="text"
              class="form-control"
              id="email"
              formControlName="email"
            />
          </div>

          <!-- Password input -->
          <div class="form-group">
            <label for="password" class="form-label">Mot de passe</label>
            <input
              type="password"
              class="form-control"
              id="password"
              formControlName="password"
            />
          </div>

          <!-- Submit button -->
          <button
            class="btn btn-primary btn-block mb-4"
            type="submit"
            [disabled]="signUpForm.invalid"
          >
            Soumettre
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
