.bg-white {
  border-radius: 15px;
}

.form-control:focus {
  box-shadow: none;
  border-color: black;
}

.product-button {
  background: #e40f0f;
  box-shadow: none;
  border: none;
}

.product-button:hover {
  background: black;
}

.product-button:focus {
  background: black;
  box-shadow: none;
}

.product-button:active {
  background: black;
  box-shadow: none;
}

label {
  font-size: 0.8rem;
  margin-top: 15px;
}

@media (max-width: 768px) {
  h2 {
    text-align: center;
  }
}

@media (min-width: 768px) {
  h2 {
    text-align: left;
    margin-left: 20px;
  }
}
