<div class="row d-flex justify-content-center">
  <div class="col-xl-7 col-lg-8 col-md-9 col-11">
    <div class="card my-5 mx-5">
      <div class="row">
        <div class="card-body p-5">
          <h2>Ajouter un produit</h2>
          <form [formGroup]="productForm" (ngSubmit)="addProduct()">
            <div class="row justify-content-between text-left">
              <!-- Bar code input -->
              <div class="form-group col-sm-6 flex-column d-flex py-3">
                <label for="bar-code" class="form-label">Code-barres</label>
                <input
                  type="text"
                  class="form-control"
                  id="bar-code"
                  formControlName="bar-code"
                />
              </div>

              <!-- Name input -->
              <div class="form-group col-sm-6 flex-column d-flex py-3">
                <label for="name" class="form-label">Nom</label>
                <input
                  type="text"
                  class="form-control"
                  id="name"
                  formControlName="name"
                />
              </div>
            </div>

            <div class="row justify-content-between text-left">
              <!-- Weight input -->
              <div class="form-group col-sm-6 flex-column d-flex py-3">
                <label for="weight" class="form-label">Poids</label>
                <input
                  type="text"
                  class="form-control"
                  id="weight"
                  formControlName="weight"
                />
              </div>

              <!-- Price input -->
              <div class="form-group col-sm-6 flex-column d-flex py-3">
                <label for="price" class="form-label">Prix en euros</label>
                <input
                  type="number"
                  class="form-control"
                  id="price"
                  formControlName="price"
                />
              </div>
            </div>

            <!-- Description input -->
            <div class="form-group py-3">
              <label for="description" class="form-label">Description</label>
              <textarea
                type="text"
                class="form-control"
                id="description"
                formControlName="description"
              ></textarea>
            </div>

            <!-- Image input -->
            <div class="form-group py-3">
              <label for="image" class="form-label">URL de l'image</label>
              <input
                type="text"
                class="form-control"
                id="image"
                formControlName="image"
              />
            </div>

            <div class="row justify-content-between text-left">
              <!-- Stock quantity input -->
              <div class="form-group col-sm-6 flex-column d-flex py-3">
                <label for="stock-quantity" class="form-label"
                  >Quantité en stock</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="stock-quantity"
                  formControlName="stock-quantity"
                />
              </div>

              <!-- Category select -->
                <div class="form-group col-sm-6 flex-column d-flex py-3">
                  <label for="category" style="margin-bottom: 0.5rem">Catégorie</label>
                  <select id="category" name="category" class="form-select">
                    <option value="" selected disabled>— — Choisir — —</option>
                    <option
                      *ngFor="let category of listCategories"
                      [value]="category.id"
                    >
                      {{ category.name }}
                    </option>
                  </select>
                </div>
            </div>

            <!-- Submit button -->
            <div class="text-end">
              <button
                class="btn btn-primary btn-block my-5"
                type="submit"
                [disabled]="productForm.invalid"
                (ngSubmit)="addProduct()"
              >
                Soumettre
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
