.bg-light {
    background-color: #f5f5f5 !important;
}

#sidebar {
    padding: 15px 0px 15px 0px;
    border-radius: 10px; 
    background-color: #f5f5f5;
}

#sidebar h4 {
    font-weight: 500; 
    color: black;
}

#sidebar ul {
    list-style: none;  
}

#sidebar ul li {
    padding: 10px 0;
    display: block;
    padding-left: 1rem;
    padding-right: 1rem;
    border-left: 5px solid transparent;
}

#sidebar ul li.active {
    border-left: 5px solid #e40f0f;
    background-color: #c4bbb9;
}

#sidebar ul li a {
    display: block;
}

#sidebar ul li a .link {
    color: #110a0a;
    font-weight: 500;
}

#sidebar ul li a .link-desc {
    font-size: 0.8rem;
    color: #5c5555;
}

#main-content { 
    border-radius: 15px;
}

#main-content .text-uppercase {
    font-weight: 600; 
}

#main-content .box {
    padding: 10px;
    border-radius: 6px;
    width: 170px;
    height: 90px;
}

#main-content .box img {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

#main-content .box .tag {
    font-size: 0.9rem;
    color: black;
    font-weight: 500;
}

#main-content .box .number {
    font-size: 1.5rem;
    font-weight: 600;
}

.order { 
    min-height: 110px;
}

.order .blue-label {
    background-color: rgb(234, 228, 58);
    color: black;
    font-size: 0.9rem; 
    width: fit-content;
}

.order .fs-8 {
    font-size: 0.85rem;
}

.order .status {
    font-weight: 600;
}

.order .btn.btn-primary {
    background-color: #fff;
    color: black;
    border: 1px solid black;
}

.order .btn.btn-primary:hover {
    background-color: black;
    color: #fff;
}