<div class="col mb-5">
  <div class="card">
    <!-- Product image -->
    <a [routerLink]="['/products', product.id]" id="product-link">
      <img
        class="card-img-top object-fit-scale mt-3"
        src="{{ product.image }}"
        alt="Product image"
      />
      <!-- Product details -->
      <div class="card-body p-4 text-center">
        <!-- Product name -->
        <h5 class="card-title fw-bolder">{{ product.name }}</h5>
        <!-- Product price -->
        <h6 class="card-text">{{ product.price }} €</h6>
      </div>
    </a>
    <!-- Product actions -->
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
      <div class="text-center">
        <a class="btn btn-outline-dark mt-auto" href="#">Ajouter au panier</a>
      </div>
    </div>
  </div>
</div>
