<div class="container mt-5">
  <div class="row g-2">
    <div class="col-lg-3 my-lg-0 my-md-2">
      <div id="sidebar">
        <h4 class="ps-4">Mon compte</h4>
        <ul class="m-0 ps-1">
          <li>
            <a class="text-decoration-none d-flex align-items-start" routerLink="/user-profile">
              <div class="d-flex flex-column">
                <div class="link">Mon compte</div>
                <div class="link-desc">Gérer mon compte</div>
              </div>
            </a>
          </li>
          <li>
            <a class="text-decoration-none d-flex align-items-start" routerLink="/soon">
              <div class="d-flex flex-column">
                <div class="link">Mes commandes</div>
                <div class="link-desc">Gérer mes commandes/retours</div>
              </div>
            </a>
          </li>
          <li>
            <a class="text-decoration-none d-flex align-items-start" routerLink="/soon">
              <div class="d-flex flex-column">
                <div class="link">Mes adresses</div>
                <div class="link-desc">Gérer mes adresses</div>
              </div>
            </a>
          </li>
          <li class="active">
            <a
              class="text-decoration-none d-flex align-items-start"
              routerLink="/user/1/update"
            >
              <div class="d-flex flex-column">
                <div class="link">Mon profil</div>
                <div class="link-desc">Changer les infos de mon profil</div>
              </div>
            </a>
          </li>
          <li>
            <a class="text-decoration-none d-flex align-items-start" routerLink="/soon">
              <div class="d-flex flex-column">
                <div class="link">Aide & Support</div>
                <div class="link-desc">Contacter le support</div>
              </div>
            </a>
          </li>
        </ul>
      </div>
      
    </div>
    <div class="col-lg-9 my-lg-0 my-md-2 mb-5">
      <div id="main-content" class="bg-white border p-5">
        <div class="d-flex flex-column justify-content-center">
          <h2 class="mb-3">Mes informations</h2>
          <form [formGroup]="userForm" (ngSubmit)="updateUser()">
            <div class="row">
              <div class="form-group col-md-6">
                <label for="firstName" class="label">Prénom</label
                ><input
                  id="firstName"
                  type="text"
                  class="form-control"
                  formControlName="firstName"
                />
              </div>
              <div class="form-group col-md-6">
                <label for="lastName" class="label">Nom</label
                ><input
                  id="lastName"
                  type="text"
                  class="form-control"
                  formControlName="lastName"
                />
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="email" class="label">Email</label
                ><input
                  id="email"
                  type="text"
                  class="form-control"
                  formControlName="email"
                />
              </div>
              <div class="form-group col-md-6">
                <label for="password" class="label">Mot de passe</label
                ><input
                  id="password"
                  type="password"
                  class="form-control"
                  formControlName="passwordHash"
                />
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="dateOfBirth" class="label">Date de naissance</label
                ><input
                  id="dateOfBirth"
                  type="text"
                  class="form-control"
                  formControlName="dateOfBirth"
                />
              </div>
              <div class="form-group col-md-6">
                <label for="phoneNumber" class="label"
                  >Numéro de téléphone</label
                ><input
                  id="phoneNumber"
                  type="text"
                  class="form-control"
                  formControlName="phoneNumber"
                />
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="address" class="label">Adresse</label
                ><input
                  id="address"
                  type="text"
                  class="form-control"
                  formControlName="address"
                />
              </div>

              <div class="form-group col-md-6">
                <label for="postalCode" class="label">Code postal</label
                ><input
                  id="postalCode"
                  type="text"
                  class="form-control"
                  formControlName="postalCode"
                />
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-6">
                <label for="city" class="label">Ville</label
                ><input
                  id="city"
                  type="text"
                  class="form-control"
                  formControlName="city"
                />
              </div>
              <div class="form-group col-md-6">
                <label for="country" class="label">Pays</label
                ><input
                  id="country"
                  type="text"
                  class="form-control"
                  formControlName="country"
                />
              </div>
            </div>
            <div class="mt-5 text-center">
              <button
                class="btn btn-primary profile-button"
                type="submit"
                [disabled]="userForm.invalid"
                (ngSubmit)="updateUser()"
              >
                Sauvegarder mes informations
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
