<section>
  <div class="container px-4 px-lg-5 mt-5">
    <div
      class="row gx-4 gx-lg-5 row-cols-1 row-cols-md-3 row-cols-lg-3 row-cols-xl-4 justify-content-center"
    >
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Product image -->
          <a routerLink="product">
            <img
              class="card-img-top object-fit-scale mt-3"
              src="https://media.carrefour.fr/medias/b7bdb1411f093450969bc0e46c5efa0d/p_540x540/03760020507350-h1n1-s12.jpg"
              alt="Product image"
            />
          </a>
          <!-- Product details -->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name -->
              <h5 class="fw-bolder">
                <a routerLink="product">Beurre de cacahuète</a>
              </h5>
              <!-- Product price -->
              3.00 €
            </div>
          </div>
          <!-- Product actions -->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a class="btn btn-outline-dark mt-auto" href="#"
                >Ajouter au panier</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Product image -->
          <img
            class="card-img-top object-fit-scale mt-3"
            src="https://media.carrefour.fr/medias/e97dba78c63a34959e5c6b6e4a2b038e/p_540x540/03229820129112-h1n1-s15.jpg"
            alt="Product image"
          />
          <!-- Product details -->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name -->
              <h5 class="fw-bolder">Boisson végétale lait d'amande</h5>
              <!-- Product price -->
              3.39 €
            </div>
          </div>
          <!-- Product actions -->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a class="btn btn-outline-dark mt-auto" href="#"
                >Ajouter au panier</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Product image -->
          <img
            class="card-img-top object-fit-scale mt-3"
            src="https://media.carrefour.fr/medias/e40a03c0f0e63f5d9c1c1160b90895b6/p_540x540/03329480018617-a1n1-s01.jpg"
            alt="Product image"
          />
          <!-- Product details -->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name -->
              <h5 class="fw-bolder">Quinoa blanc</h5>
              <!-- Product price -->
              2.44 €
            </div>
          </div>
          <!-- Product actions -->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a class="btn btn-outline-dark mt-auto" href="#"
                >Ajouter au panier</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Product image -->
          <img
            class="card-img-top object-fit-scale mt-3"
            src="https://media.carrefour.fr/medias/b7bdb1411f093450969bc0e46c5efa0d/p_540x540/03760020507350-h1n1-s12.jpg"
            alt="..."
          />
          <!-- Product details -->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name -->
              <h5 class="fw-bolder">Beurre de cacahuète</h5>
              <!-- Product price -->
              3.00 €
            </div>
          </div>
          <!-- Product actions -->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a class="btn btn-outline-dark mt-auto" href="#"
                >Ajouter au panier</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Product image -->
          <img
            class="card-img-top object-fit-scale mt-3"
            src="https://media.carrefour.fr/medias/e97dba78c63a34959e5c6b6e4a2b038e/p_540x540/03229820129112-h1n1-s15.jpg"
            alt="..."
          />
          <!-- Product details -->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name -->
              <h5 class="fw-bolder">Boisson végétale lait d'amande</h5>
              <!-- Product price -->
              3.39 €
            </div>
          </div>
          <!-- Product actions -->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a class="btn btn-outline-dark mt-auto" href="#"
                >Ajouter au panier</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Product image -->
          <img
            class="card-img-top object-fit-scale mt-3"
            src="https://media.carrefour.fr/medias/e40a03c0f0e63f5d9c1c1160b90895b6/p_540x540/03329480018617-a1n1-s01.jpg"
            alt="..."
          />
          <!-- Product details -->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name -->
              <h5 class="fw-bolder">Quinoa blanc</h5>
              <!-- Product price -->
              2.44 €
            </div>
          </div>
          <!-- Product actions -->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a class="btn btn-outline-dark mt-auto" href="#"
                >Ajouter au panier</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Product image -->
          <img
            class="card-img-top object-fit-scale mt-3"
            src="https://media.carrefour.fr/medias/b7bdb1411f093450969bc0e46c5efa0d/p_540x540/03760020507350-h1n1-s12.jpg"
            alt="..."
          />
          <!-- Product details -->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name -->
              <h5 class="fw-bolder">Beurre de cacahuète</h5>
              <!-- Product price -->
              3.00 €
            </div>
          </div>
          <!-- Product actions -->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a class="btn btn-outline-dark mt-auto" href="#"
                >Ajouter au panier</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Product image -->
          <img
            class="card-img-top object-fit-scale mt-3"
            src="https://media.carrefour.fr/medias/e97dba78c63a34959e5c6b6e4a2b038e/p_540x540/03229820129112-h1n1-s15.jpg"
            alt="..."
          />
          <!-- Product details -->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name -->
              <h5 class="fw-bolder">Boisson végétale lait d'amande</h5>
              <!-- Product price -->
              3.39 €
            </div>
          </div>
          <!-- Product actions -->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a class="btn btn-outline-dark mt-auto" href="#"
                >Ajouter au panier</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col mb-5">
        <div class="card h-100">
          <!-- Product image -->
          <img
            class="card-img-top object-fit-scale mt-3"
            src="https://media.carrefour.fr/medias/e40a03c0f0e63f5d9c1c1160b90895b6/p_540x540/03329480018617-a1n1-s01.jpg"
            alt="..."
          />
          <!-- Product details -->
          <div class="card-body p-4">
            <div class="text-center">
              <!-- Product name -->
              <h5 class="fw-bolder">Quinoa blanc</h5>
              <!-- Product price -->
              2.44 €
            </div>
          </div>
          <!-- Product actions -->
          <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
            <div class="text-center">
              <a class="btn btn-outline-dark mt-auto" href="#"
                >Ajouter au panier</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
