<div class="row d-flex justify-content-center">
  <div class="col-xl-9 col-lg-9 col-md-10 col-11">
    <div class="card my-5 mx-5">
      <div class="row">
        <div class="col-lg-7">
          <div class="card-body p-md-5 p-sm-5">
            <h2>Connexion</h2>
            <form [formGroup]="signInForm" (ngSubmit)="onSignIn()">
              <!-- Email input -->
              <div class="form-group py-3">
                <label for="email" class="form-label">Email</label>
                <input
                  type="text"
                  class="form-control"
                  id="email"
                  formControlName="email"
                />
              </div>
              <!-- Password input -->
              <div class="form-group py-3">
                <label for="password" class="form-label">Mot de passe</label>
                <input
                  type="password"
                  class="form-control"
                  id="password"
                  formControlName="password"
                />
              </div>
              <!-- Submit button -->
              <button
                class="btn btn-primary btn-block my-4"
                type="submit"
                [disabled]="signInForm.invalid"
                (click)="onSignIn()"
              >
                Valider
              </button>
            </form>
          </div>
        </div>

        <div class="col-lg-5 d-none d-lg-flex">
          <img
            src="https://images.pexels.com/photos/7511862/pexels-photo-7511862.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2"
            alt="Tomatoes"
            class="w-100 rounded object-fit-cover"
          />
        </div>
      </div>
    </div>
  </div>
</div>
