<header class="back py-lg-5 py-md-4 py-3" style="
background-image: url('https://images.pexels.com/photos/594137/pexels-photo-594137.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
">
    <div class="container px-4 px-lg-5 my-5">
      <div class="text-center text-white">
        <h1 class="display-4 fw-bolder">Ressentez l'apaisement au naturel</h1>
        <p class="lead fw-normal text-white mb-0">
          Notre sélection pensée pour votre confort intestinal et votre bien-être absolu
        </p>
      </div>
    </div>
  </header>